<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="container">

    <img src="~/lib/logo.jpeg"  style="height:100px; width:100px" />
    <hr />
   <div style="float:right ;font-size:medium;font-weight:bolder">

       Welcome @ViewBag.UserName
   </div>
    
    <br/>

    <a href="/Home/Index">Home</a> |
    <a href="/Home/About">About us</a> |
    <a href="/Home/Contact">Contact us</a> |



    <hr />
    <br />

    <div>
        @RenderBody()
    </div>

    <br />
    <hr />
    <Center><h6>Developed By Sangam Mundhe 2025</h6></Center>
</body>
</html>
