
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee System</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

   
</head>
<body class="container">

    <div class="table-container">
        <h2 class="text-center mb-4 text-primary fw-bold">Employee Records</h2>

        <div class="table-responsive">
           <form action="/product/aftercreate">
                <table class="table table-bordered table-hover align-middle">
                    <tbody>

                        <tr>

                            <td>Title</td>

                            <td><input type="type" name="title" value="" /></td>
                        </tr>
                        <tr>

                            <td>description</td>

                            <td><input type="type" name="description" value="" /></td>
                        </tr>

                        <tr>

                            <td>Cost</td>

                            <td><input type="text" name="cost" value="" /></td>
                        </tr>
                        <tr>

                           

                            <td><<input type="submit" class="btn btn-outline-success" /></td>
                        </tr>

                    </tbody>

                </table>

           </form>
        </div>
    </div>

</body>
</html>
