<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Create</title></head>
    <body>



        <form action="/Home/AfterCreate" method="post">

        <input type="text" name="Name" placeholder="Enter the Name" />
        <input type="number" name="Price" placeholder="Enter the Name" />
        <input type="datetime" name="Date" placeholder="Enter the Date" />

        <input type="submit" value="Create"/>

        </form>


    </body>
</html>